.GifDetails {
  max-width: 1100px;
  margin: 1rem auto 1.2rem auto;
  padding: 0 20px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.2rem;
}

/* GIF */
.GifDetails-media img {
  width: 100%;
  border-radius: 12px;
  object-fit: contain;
}

/* Info */
.GifDetails-info {
  display: flex;
  flex-direction: column;
  gap: 16px;
  color: var(--secondary-font-color);
}

.GifDetails-meta {
  display: flex;
  gap: 10px;
}

.badge {
  padding: 6px 12px;
  border-radius: 999px;
  font-size: 0.85rem;
  background-color: var(--secondary-background-color);
}

/* Responsive */
@media (max-width: 768px) {
  .GifDetails {
    grid-template-columns: 1fr;
  }
}
