.Gif-card {
  height: 100%;
}

.Gif-link {
  color: var(--secondary-font-color);
  display: block;
  text-decoration: none;
  position: relative;
  width: 100%;
  height: 100%;
}

.Gif-link h4 {
  font-size: 12px;
  background: rgba(0, 0, 0, 0.837);
  bottom: 0;
  position: absolute;
  margin: 0;
}

.Gif-link img {
  width: 100%;
  vertical-align: top;
  height: inherit;
  object-fit: cover;
  border-radius: 3px;
}
