.fav-button {
  background-color: #ffcc00;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  font-size: 12px;
  padding: 10px;
  transition: background-color 0.3s ease;
}

.fav-button:hover {
  background-color: #ff9900;
}
