.loader-container {
  height: 64px; /* espacio reservado */
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
  display: flex;
  gap: 6px;
  justify-content: center;
  align-items: center;
}

.loader div {
  width: 8px;
  height: 8px;
  background-color: var(--secondary-font-color);
  border-radius: 50%;
  animation: pulse 0.6s infinite alternate;
}

.loader div:nth-child(2) {
  animation-delay: 0.2s;
}
.loader div:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes pulse {
  from {
    opacity: 0.3;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
