.category-list-container {
  text-align: center;
  margin-bottom: 20px;
}

.Category-container a {
  color: var(--primary-font-color);
  font-size: 20px;
  text-decoration: none;
}

.Category-container a:hover {
  color: var(--secondary-font-color);
  font-style: italic;
}
