.SearchForm {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: stretch;
  max-width: 370px;
  margin: 0 auto 38px;
}

.SearchForm input {
  padding: 14px 16px;
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 16px;
  color: var(--primary-background-color);
  background-color: var(--secondary-font-color);
}

.SearchForm input:focus {
  box-shadow: 0 0 0 2px rgba(100, 100, 255, 0.4);
}

.SearchForm button {
  padding: 14px 16px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: var(--secondary-font-color);
  background-color: var(--secondary-background-color);
}

@media (min-width: 600px) {
  .SearchForm {
    flex-direction: row;
    gap: 0;
  }

  .SearchForm input {
    flex: 1;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .SearchForm button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

@media (hover: hover) {
  .SearchForm button:hover:not(:disabled) {
    filter: brightness(1.1);
  }
}

.SearchForm button:disabled {
  opacity: 55%;
  cursor: not-allowed;
}
