.modal-container {
  background-color: rgba(255, 255, 255, .8);
  backdrop-filter: blur(3px);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  align-content: center;
}

.modal-content {
  background-color: #111;
  width: 340px;
  padding: 10px 30px;
  height: 75vh;
  margin: 10vh auto;
  position: relative;
}
