.modal-container {
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(2px);
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.modal-content {
  background-color: var(--primary-background-color);
  padding: 1.3rem 0.8rem;
  position: relative;
  border-radius: 12px;
  width: calc(100vw - 3rem);
  max-width: 460px;
  max-height: 90vh;
  overflow-y: auto;
}

@media (min-width: 1024px) {
  .modal-content {
    max-width: 520px;
    padding: 1.5rem 1rem;
  }
}
