.ResourceNotFound-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem;
  text-align: center;
  color: var(--secondary-font-color);
}

.code-error-text {
  font-size: 2.2rem;
  font-weight: bold;
  font-style: italic;
}

.msg-error-text {
  font-size: 1rem;
  margin: 1rem auto;
}

.gif-error {
  margin: 1.5rem auto;
  width: 240px;
  height: 240px;
  object-fit: contain;
}

@media (min-width: 600px) {
  .code-error-text {
    font-size: 3rem;
  }

  .msg-error-text {
    font-size: 1.3rem;
    max-width: 70%;
  }

  .gif-error {
    width: 300px;
    height: 300px;
  }
}

@media (min-width: 1024px) {
  .ResourceNotFound-container {
    padding: 3rem;
  }

  .code-error-text {
    font-size: 4rem;
  }

  .msg-error-text {
    font-size: 1.5rem;
    max-width: 600px;
  }

  .gif-error {
    width: 380px;
    height: 380px;
  }
}
