.ResourceNotFound-container {
  margin: 0 auto;
  margin-bottom: 1rem;
}

.ResourceNotFound-container img {
  width: 330px;
  height: 410px;
  background-color: var(--secondary-font-color);
  border-radius: 15px;
}
