.Header-component {
  display: flex;
  justify-content: flex-end;
  padding: 1.5rem;
  gap: 1.5rem;
}

.Header-component button,
.Header-component a {
  color: var(--secondary-font-color);
  font-weight: 600;
}

.Header-component button {
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
  font-family: inherit;
  font-size: inherit;
}

.Header-component a {
  text-decoration: none;
}

.Header-component button:hover,
.Header-component a:hover {
  text-decoration: underline;
}
